{% extends 'diary/base_diary.html' %}

{% block title %} simply good. profile page. {% endblock title %}

{% block content %}

<div id="profile-style">

<h2>{{ username }}'s profile page</h2>

<p>Please fill out the following fields to complete your profile:</p>

    {% for field in form %}
      {{ field.error }}
    {% endfor %}

    <form action="" method="post">
       {% csrf_token %}
       {{ form.as_p }}
     <input type="submit" value="Update" class="btn btn-success" />
    </form>
</div>

{% endblock content %}